.nodeInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px, -50%);
    background-color: #E0E0E0;
    color: black;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    overflow-wrap: break-word;
}

.nodeInfoBody {
    display: flex;
    flex-direction: column;
}

.nodeInfoList {
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoTitle {
    display: flex;
    font-weight: 500;
    font-size: 17.5px;
}

.exit {
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}

.exit::after,
.exit::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.exit::after {
    transform: rotate(-45deg)
}

.legend {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;
    padding: 5px;
    border-radius: 10px;
    font-size: 17.5px;
}

.legendItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendItem > :not(:first-child) {
    margin-left: 5px;
}

.searchbarContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;

    padding: 10px;
    border-radius: 10px;
    background-color: #E0E0E0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbarContainer > :not(:first-child) {
    margin-left: 10px !important;
}

.noNodesWarning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    font-size: 17.5px;
    text-align: center;
}